.change-password-form {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 80%;
  justify-content: space-evenly;
  width: 70%;
}
.change-password-form input {
  padding: 5px 10px;
  margin-top: 10px;
  font-size: 17px;
  outline: none;
  border: 1px solid grey;
  width: 200px;
  height: 30px;
}
.change-password-btn {
  padding: 5px 20px;
  border-radius: 10px;
  background-color: rgb(48, 47, 47);
  color: white;
  font-size: 17px;
  border: none;
  transition: all 0.4s;
}
.change-password-btn:hover {
  background-color: rgb(75, 73, 73);
}
.change-password-error {
  height: 13px;
  font-size: 13px;
  font-weight: bold;
  text-align: center;
}
.red {
  color: red;
}
.green {
  color: green;
}
